<ul *ngFor="let todo of todos">
    <li>{{todo.sno}} - {{todo.title}} - {{todo.desc}}</li>
</ul>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
    ab ipsam quo quaerat sapiente omnis 
   assumenda saepe modi dolorem aut molestiae praesentium officia eius dolorum 
   impedit eveniet consequatur, animi ex!</p>

<p>2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
    ab ipsam quo quaerat sapiente omnis 
    assumenda saepe modi dolorem aut molestiae praesentium officia eius dolorum 
    impedit eveniet consequatur, animi ex!</p>
<p>1) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
    ab ipsam quo quaerat sapiente omnis 
   assumenda saepe modi dolorem aut molestiae praesentium officia eius dolorum 
   impedit eveniet consequatur, animi ex!</p>
<p>2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
    ab ipsam quo quaerat sapiente omnis 
   assumenda saepe modi dolorem aut molestiae praesentium officia eius dolorum 
   impedit eveniet consequatur, animi ex!</p>